<link rel="stylesheet" href="/stylesheets/style.css">
 <center>
<h1>Welcome</h1>
<h3>About Express</h3>
<button type="submit" onclick= "Backtohome()" > Home</button>
 </center>

 <script src='/javascripts/main.js'></script>