<center>
<h1>Welcome to landing page</h1>
<button type="submit" onclick="formcall()">form</button>
<button type="submit" onclick="about()">about</button>
<button type="submit" onclick="alertboxcall()">Hello Alert</button>
</center>
 <script src='/javascripts/main.js'></script>