<link rel="stylesheet" href="/stylesheets/style.css">
 <center>
<h1>Welcome</h1>
<h3>Express Landing page</h3>
<button type="submit" onclick= "button1()" > Form</button>
<button type="submit" onclick= "hello()" > Hello Alert</button>
<button type="submit" onclick= "about()" > About</button>
 </center>

 <script src='/javascripts/main.js'></script>